
  
  <!-- As a heading -->
  <nav class="navbar bg-primary">
    <div class="container-fluid">
      <span>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSz-ApAL1a8mkVbLVbS0i8NcWwAywVMwg2zlA&usqp=CAU"  height="50px" width="50px">
   
      <img src="https://t3.ftcdn.net/jpg/01/00/65/64/360_F_100656447_xzaQm1D1p6oWUX4WCBX7LiDyD8Dw9sJw.jpg" height="50px" width="100px">
    </span>
    </div>
      <!-- <span class="navbar-brand mb-0 h1 text-light ">Todo</span> -->
    
  </nav>

