.todo{
    background-color: yellow;
    height:100vh ;
}
.box{
    background-color: white;
    width:650px;
    height: 500px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: scroll;
    }
    i{
        cursor: pointer;
    }
   button{
    height: 30px;
    width: 95px;
   text-align: justify;
   } 
   .compl{
    text-decoration: line-through;
    color: red
  }

input[type=checkbox]:checked + p.strikethrough {
    text-decoration:line-through;
    color: red;
  }
  .inputAdd{
    border-radius: 5px;
    background-color: rgb(253, 252, 251);
    width: 50vh;
    
}
 